<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLOD2006 GroupA PaaS</title>
  </head>
  <body>
    <h1>Welcome CLOD2006 Group A!</h1>
    <br>
    <b>Group Members:</b> <br>
    Rosemarie Sauri <br> 
    Dipansu Dipes Sinha <br> 
    Ponni Sajeevan <br> 
    Abhishek Mittal <br> 
    Swaroopkrishna S. Menon <br> 
    Piyush Gopalakrishnan Iyer <br> 
    Nikhitha Angara <br>
  </body>
</html>